<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koushik Murali</title>

    <style type="text/css">
        html{
            scroll-behavior: smooth;
        }
        h1{
            font-family: sans-serif;
            font-size: 90px;
        }

        h2{
            font-family: sans-serif;
            font-size: 32px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        h3{
            font-family: sans-serif;
            font-size: 20px;
            margin-bottom: 0px;
        }
        h4{
            font-family: sans-serif;
            font-size: 16px;
            font-weight:bold;
        }
        p{
            font-family: sans-serif;
            font-size: 16px;
            line-height: 140%;
        }
        .artBody{
            margin-bottom: 50px;
        }
        .bodyArea{
            font-family: sans-serif;
            display: grid;
            grid-template-columns: 5% 20% 40%;
            grid-template-rows: repeat( <%= articles.length %> , auto);
            column-gap: 30px;
        }
        .artNav{
            font-family: sans-serif;
            font-size: 14px;
            line-height: 200%;
            align-items: baseline;
            margin-top: auto;
        }

        .headerArea{
            grid-column: 3/4;
            grid-row: 1;
            display: grid;
            grid-template-rows: repeat( <%= articles.length %> , auto);
            align-items: baseline;
            row-gap: 2px;
            height: 100vh;
            overflow: scroll;
            scroll-behavior: smooth;
            
        }
        .leftNav{
            grid-column: 2/3;
            grid-row: 1;
            font-size: 24px;
            font-family: sans-serif;
            height: 100vh;
            overflow: scroll;
            
        }
        .headerArea::-webkit-scrollbar {
            display: none;
        }
        .leftNav::-webkit-scrollbar {
            display: none;
        }
        #profilePic{
            border-radius: 16px;
            margin-top: 20px;
        }

        @media only screen and (max-width: 1400px) {
            
            .bodyArea{
            display: grid;
            grid-template-columns: 5% 25% 60%;
        }

        }
        @media only screen and (max-width: 800px) {
            .leftNav{
            grid-row: 1;
    
        }
        .headerArea{
            grid-column: 2/3;
            font-family: sans-serif;
            grid-row: 2;
            overflow: unset;
        }
            
            .bodyArea{
            display: grid;
            grid-template-columns: auto 90% auto;
        }
        .artBody{
            margin-bottom: 30px;
        }
        }
    </style>
</head>
<body>      

    <div class="bodyArea">

        <div class="leftNav" id="leftNav">
            <h3>Koushik Murali</h3>

            <div id="profilePic"><img src = "<%= Pictures[0].image%>" width="50%"></div>

            <p>I am a designer based out of Coimbatore.</p>
            <p>Currently I work at <a href="https://hasura.io" target="blank">Hasura</a> as a Graphic Designer</p>
            <p>Occassionally I like to write on topics around design and art.</p>
            <h4>List of articles</h4>
            <% articles.forEach(results => {  %>
               <div class="artNav"> <li type="ul"><a href= "<%= "#" + results.Slugify %>"><%= results.title %></a></li></div>
                <% }) %> 
        </div>

        <div class="headerArea">
            <% articles.forEach(results => {  %>
                <div id="<%= results.Slugify %>"><h3> <%= results.title %> </h3></div>
                <div><h4><%= results.author %> published on <%= results.date.toLocaleDateString() %></h4></div>
                    <div class="artBody"><p><%- results.sanitizedHTML %></p> <p>[<a href="<%= "#" + articles[0].Slugify %>">go to top</a>]</p></div>
                <% }) %>  
        </div>


    </div>

   
</body>
</html>